# Welcome!

## Introduction

This online book was created for a live data visualization workshop for Sydney University held in May 2022.

This series of Jupyter Notebooks were designed to help learners dive into the basics of Python data visualization using real datasets.

> **How should I use this book?**

If you're new to all this, it's recommended to read this book in sequential order or search for a specific topic using the sidebar.

All code blocks can be executed directly in the browser and additional buttons are available to open up any notebook in Google Colab or in a JupyterLab environment using a technology called Binder.

> **I have questions, how can I get help?**

If you have any questions or spot any errors - please add a new issue directly at our GitHub repo.

## Getting Started

COMING SOON

In [2]:
from matplotlib import rcParams, cycler
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
plt.ion()

In [ ]:
# Fixing random state for reproducibility
np.random.seed(19680801)

N = 10
data = [np.logspace(0, 1, 100) + np.random.randn(100) + ii for ii in range(N)]
data = np.array(data).T
cmap = plt.cm.coolwarm
rcParams['axes.prop_cycle'] = cycler(color=cmap(np.linspace(0, 1, N)))


from matplotlib.lines import Line2D
custom_lines = [Line2D([0], [0], color=cmap(0.), lw=4),
                Line2D([0], [0], color=cmap(.5), lw=4),
                Line2D([0], [0], color=cmap(1.), lw=4)]

fig, ax = plt.subplots(figsize=(10, 5))
lines = ax.plot(data)
ax.legend(custom_lines, ['Cold', 'Medium', 'Hot']);

In [8]:
# load our video game sales dataset
df = pd.read_csv("data/video-game-sales.csv")
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,259,Asteroids,2600,1980,Shooter,Atari,4.00,0.26,0.0,0.05,4.31
1,545,Missile Command,2600,1980,Shooter,Atari,2.56,0.17,0.0,0.03,2.76
2,1768,Kaboom!,2600,1980,Misc,Activision,1.07,0.07,0.0,0.01,1.15
3,1971,Defender,2600,1980,Misc,Atari,0.99,0.05,0.0,0.01,1.05
4,2671,Boxing,2600,1980,Fighting,Activision,0.72,0.04,0.0,0.01,0.77

There is a lot more that you can do with outputs (such as including interactive outputs)
with your book. For more information about this, see [the Jupyter Book documentation](https://jupyterbook.org)

## Business Case Study

Imagine that we are running an online blog which reports on video games throughout the years.

We've discovered this dataset and we want to describe the transformational journey that video games have experienced over the past 2 decades.

In particular we want to try to answer a few questions about our dataset:

1. How many records do we have?
2. What was the most popular game ever based on total sales?
3. How many years' of data do we have and how many games were released per year?
4. Which region has the most sales? How does it compare to the others?
5. Show the releases and total sales for each genre - is there any relationship?
6. Were there specific genres which experienced explosive growth in releases over time?